.button{
  display: grid;
  grid-template-columns: repeat(4, 70px);
  row-gap: 10px;
  column-gap: 10px;
  margin-right: 18px;
}
.button button{
  height: 70px;
  border-radius: 30%;
  border: none;
  background-color: aquamarine;
  font-size: 20px;
  font-weight: bold;
}
.container{
  background-color: black;
  width: 330px;
  padding: 15px;
  border-radius: 30px;
  margin-left: 450px;
  margin-top: 50px;
}
input{
  width: 90%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0c9;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 6px;
  padding: 24px 11px 18px 0;
}
.button2{
  display: grid;
  grid-template-columns: 140px 70px 70px 1fr;
  gap: 13px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  background-color: hsl(0 0 40%);
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.button2.zero{
  width: 140px;
  background-color: hsl(0 0 40%);
  border-radius: 50px;
  border: none;

}
.button.colour{
  background-color: orange;
}
.button.result{
  background-color: hsl(200 100% 50%);
}
